{% for key, partner in partners %}
<div class="accordion-border key_{{key}}">
    <div class="row middle-xs between-xs accordion-toggle">
        <div class="col-xs-10 start-xs title_container">
            <img alt="{{ partner.instituion }}" src="{{partner.cover.thumb(auto,49,{'mode':'crop'})}}">
        </div>
        <div class="col-xs-2 end-xs plusminus"><span class="plus"></span></div>
    </div>
    <div class="accordion-content" style="display: none;">
        <div class="row top-xs">
            <div class="col-xs-12 partner-item">
                <div class="col-xs-12">
                    <h4><a href="{{partner.instituion_url}}" target="_blank">{{partner.instituion}}</a></h4>
                    <div class="country_label">{{partner.country[0].name}}</div>
                    <div class="partner_description">{{partner.content|raw}}</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}

